<div class ="row">
  <div class ="twelve columns text-center">
    <h3>Welcome!</h3>
  </div>
</div>

<br/>

<div class ="row">
  <div class="Five columns text-center">
    <%= link_to "View Open Rooms", courses_url, :class => 'button' %>
  </div>
</div>

<br/>

<br/>

<div class="row">
  <div class="Five columns text-center">
    <%= link_to "View Usage Stats", welcome_url, :class => 'button' %>
  </div>
</div>
